---
---
@import "{{ site.theme }}";
BODY {
  margin: 0;
  padding: 12px;
}
H1 {
  margin: -12px;
  padding: 12px;
  background-color: green;
  color: white;
}
H1 A {
  text-decoration: none;
  color: white;
}
